@import 'code-blocks.css';
@import 'globals.css';

.content-flow {
    width: 90%;
    height: 50vh;
    background: lightpink;
    margin: 10vh auto;
}

.content-flow .title {
    text-align: center;
}

.even-columns {
    display: flex;
    background: lightgrey;
    padding: 80px;
    height: 70%;
    flex-wrap: wrap;
    gap: 20px;
}

.even-columns > * {
    flex-basis: 100%;
    flex: 1 1 10em;
    padding: 20px;
    background: lightskyblue;
    border: 1px solid black;
}

