* {
    font-family: arial;
}

.content-flow {
    height: 50vh;
    background: lightpink;
    margin: 50px 100px 50px 100px;
}

.content-flow .title {
    text-align: center;
}

.even-columns {
    display: flex;
    background: lightgrey;
    padding: 80px;
    height: 80%;
    flex-wrap: wrap;
}

.even-columns > * {
    flex-basis: 100%;
    flex: 1 1 20em;
    padding: 20px;
    background: lightskyblue;
    border: 1px solid black;
}
